:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 0.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0d7cd6;
  background: transparent;
  border: 2px solid  rgba(255, 255, 255, 0.2);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
.home-bgg {
  background-image: url('C:\Users\jihed\Desktop\fitness-project-jihed1\frontend\src\assets\background1.jpg');
      background-size: 103%;
    background-repeat: no-repeat;
    background-position: center;
 
};
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 360px;
  min-height: 50vh;
}

.container {
  width: 100%;
  max-width: 28rem;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.card {
  

  background-color: var(--card);
  color: var(--card-foreground);
  border-radius: var(--radius);
  border: 1px solid var(--border);
  padding: 2rem;
  box-shadow: 0 1px 3px 0 rgba(8, 110, 220, 0.1),
    0 1px 2px 0 rgba(225, 10, 10, 0.06);
}

.header {
  text-align: center;
  margin-bottom: 1.5rem;
  
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #5005db;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #0849d4;
}
.submit-button:hover {
  background-color: rgba(78, 167, 27, 0.9);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #f8f2f2;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #1009e1;
  }
}


